<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <%= @user.name %>
</p>

<div class="navbar" style="margin-top:20px;">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="/lists">Lists</a></li>
        </ul>
    </div>
</div>
